<!-- The component controller attached to scope as $ctrl by default -->
<div rx-subscribe="$ctrl.lists">

	<p ng-if="!$rx.next">Loading...</p>

	<div ng-if="$rx.next">
		
		<h2>Select a lists</h2>

		<ul class="lists">
			<li ng-if="$rx.next.length == 0">No shopping list</li>
			<li ng-repeat="list in $rx.next" class="list">
		    <a ng-href="#/lists/{{list.$key}}">{{list.$key}}</a>
		    <button ng-click="$ctrl.remove(list.$key)">&times;</button>
			</li>
		</ul>

		<hr/>

		<form ng-submit="$ctrl.add($ctrl.newList)">
		  <p>
		    <input type="text" ng-model="$ctrl.newList" size="30" placeholder="create new item" />
		    <input class="btn-primary" type="submit" value="add" />
		  </p>
		</form>

	</div>
	
</div>
