<h2>{{$ctrl.listId}}</h2>

<div rx-subscribe="$ctrl.shopping">

	<p ng-if="!$rx.next">Loading...</p>

	<div ng-if="$rx.next">
		
		<ul class="list">
		  <li ng-if="$rx.next.length == 0">Nothing to buy \o/</li>
		  <li ng-repeat="item in $rx.next" class="item">
		      <span class="main-item">{{item.$key}}</span>
		      <button ng-click="$ctrl.remove(item.$key)">&times;</button>
		  </li>
		</ul>

		<p><small><a href="#/">back</a></small></p>

		<hr/>

		<form ng-submit="$ctrl.add($ctrl.newItem)">
		  <p>
		    <input type="text" ng-model="$ctrl.newItem" size="30" placeholder="create new item" />
		    <input class="btn-primary" type="submit" value="add" />
		  </p>
		</form>

	</div>
	
</div>