<!-- The component controller attached to scope as $ctrl by default -->
<h2>{{$ctrl.listId}}</h2>

<p ng-if="!$ctrl.loading.ready">Loading...</p>

<div ng-messages="$ctrl.errors" role="alert">
  <p ng-message="user">Something went wrong with the Firebase authentication.</p>
  <p ng-message="items">Failed to load your shopping list.</p>
</div>

<div id="lists" ng-if="$ctrl.loading.ready">

	<ul class="list">
	  <li ng-if="!$ctrl.items || $ctrl.items.length == 0">Nothing to buy \o/</li>
	  <li ng-repeat="item in $ctrl.items" class="item">
	      <span class="main-item">{{item.$id}}</span>
	      <a ng-href="#/lists/{{ $ctrl.listId }}/items/{{ item.$id }}"> info </a>
	      <button ng-click="$ctrl.remove(item.$id)">&times;</button>
	  </li>
	</ul>

	<p><small><a href="#/">back</a></small></p>

	<hr/>

	<form ng-submit="$ctrl.add($ctrl.newItem)">
	  <p>
	    <input type="text" ng-model="$ctrl.newItem" size="30" placeholder="create new item" />
	    <input class="btn-primary" type="submit" value="add" />
	  </p>
	</form>

</div>
